@import './components/Search.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a52d2d;
  border-radius: 10px 10px 10px 10px;
}

body {
  background-color: rgb(212, 207, 207);
  caret-color: #a52d2d;
}

.app {
  padding-top: 3vh;
  background-color: rgb(212, 207, 207);
}

.app .movies-list,
.users-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.a_card_title:hover {
  text-decoration: none;
}

.movie-img {
  width: 100%;
  height: 100%;
}

/* 
.app .movies-list .card:last-child {
  margin-left: 6rem;
}

.app .movies-list::after {
  content: '';
  flex: auto;
} */

.red {
  color: red;
}

.redBorder {
  border: red 2px solid !important;
}

.movies-list .watchlist_icon {
  position: absolute;
  top: 9%;
  left: 314px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.fa-2x {
  font-size: 2.1em;
}

.fa-plus {
  color: rgb(145, 135, 135);
}

.fa-check {
  color: rgb(134, 240, 222);
}

.movies-list,
.users-main {
  width: 72vw;
  margin: auto;
}

.app .card {
  margin-bottom: 5vh;
  margin-right: 2vw;
}

.movie-card {
  -moz-border-radius: 16px; /*Firefox*/
  border-radius: 15px;
  height: 14em;
  box-shadow: 3px 5px 23px 2px #bfbfbf;
  border: none;
  position: relative;
}

.image-container .movie-img {
  border-radius: 15px 15px 15px 15px;
}

.image-container {
  height: 100%;
  position: relative;
}

.link {
  position: relative;
  width: 100%;
}

.movie-img {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text {
  width: 17em;
  /* transition: 0.5s ease;
  opacity: 0; */
  position: absolute;
  top: 72%;
  left: 5%;
}

.hover {
  transition: 0.5s ease;
  opacity: 0;
}

.image-container:hover .movie-img {
  opacity: 0.3;
}

.image-container:hover .hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.3em;
  font-weight: bolder;
  /* padding: 16px 32px; */
}

.addList-btn {
  background: none;
  border: none;
}

.movie-card .modal-content {
  background: #a52d2d;
}

.movie-card .modal-header {
  border: none;
  padding-bottom: 0.7rem;
}

.movie-card .modal-body {
  padding: 1em;
}

.movie-card .modal-header .modal-title {
  padding-left: 0.6em;
}

/* RATING */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.for5Star {
  display: none;
}

.for4Star {
  display: none;
}

.for3Star {
  display: none;
}

.for2Star {
  display: none;
}

.for1Star {
  display: none;
}

#star5:hover ~ .for5Star,
#star4:hover ~ .for4Star,
#star3:hover ~ .for3Star,
#star2:hover ~ .for2Star,
#star1:hover ~ .for1Star {
  display: block;
}

.rate-main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.for1Star,
.for2Star,
.for3Star,
.for4Star,
.for5Star {
  position: absolute;
  top: 0%;
  padding-left: 0.21rem;
}
