* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.search-bar {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app .header {
  background-color: #a34f4f;
  color: white;
  text-align: center;
  margin-bottom: 3vh;
  height: 5vh;
}

.app .movies-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.red {
  color: red;
}

.redBorder {
  border: red 2px solid !important;
}

.image-container i {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.movies-list {
  width: 70vw;
  margin: auto;
}

.app .card {
  margin-bottom: 5vh;
}
