html,
body,
#root {
  position: relative;
  min-height: 100vh;
}

html {
}

.app,
.login-main,
.createaccount-main {
  padding-bottom: 90px;
}

.footer-main {
  margin-top: 4%;
  background: #9c202098;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.footer-copyright {
  font-size: 1.3em;
}

.footer-copyright a {
  color: white;
}

.footer-copyright a:hover {
  color: antiquewhite;
  text-decoration: none;
}
