.navbar-main {
  background-color: #9c202098;
  padding: 0.1em;
  max-height: 10vh;
  margin-bottom: 5vh;
  width: 100%;
}

.brand {
  color: #408a56;
  font-size: 2.5em;
  text-align: center;
  /* margin-left: 24%; */
  font-family: "Barriecito", cursive;
}

.brand-div {
  margin-left: 14%;
}

.brand:hover {
  color: white;
}

.login:hover {
  color: antiquewhite;
  background-color: none;
  border: 1px solid #faebd7;
  /* box-shadow: 1px 1px 8px -3px #faebd7 inset; */
}

.nav-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 0px 0.4px 0px #cacaca;
  /* box-shadow: 5px 13px 11px -17px #cacaca; */
}

.dropdown-main {
  max-width: 9em;
  margin-right: 18%;
}

.dropdown-menu {
  left: -60px;
}

.dropdown-toggle {
  color: white;
  font-size: 1.4em;
}

.dropdown-toggle:hover {
  color: antiquewhite;
}
