.navbar-main {
  background-color: #9c202098;
  padding: 0.1em;
  max-height: 10vh;
  margin-bottom: 5vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.brand {
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin-left: 1em;
}

.brand:hover {
  color: white;
}
